<h1><%=@cheese.name%></h1>
<h2>Characteristics:</h2>
<ul>
    <li><%=@cheese.origin%></li>
    <% if @cheese.creamery %>
        <li><%=@cheese.creamery%></li>
    <% end %>
    <li><%=@cheese.rind%></li>
    <li>Milk:</li>
        <ul>
            <% @cheese.milks.each do |milk| %>
                <li><%=milk.kind%></li>
            <% end %>
        </ul>
</ul>